In [489]:
#!pip install yahoo_fin --upgrade

In [490]:
import requests
import pandas as pd
import json
import math
import requests
import urllib.parse
from datetime import datetime, timedelta

import yahoo_fin
from yahoo_fin.stock_info import get_data, get_quote_table, get_quote_data
from pandas_datareader import data as pdr
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [491]:
# formatting on dates
date_interval = "{0},{1}".format(datetime.now().date() - timedelta(days=2),datetime.now().date() + timedelta(days=1))

In [492]:
# handling the cookies 
def load_cookies():
	headers = {
	    'authority': 'www.barchart.com',
	    'sec-ch-ua': '"Chromium";v="94", "Google Chrome";v="94", ";Not A Brand";v="99"',
	    'sec-ch-ua-mobile': '?0',
	    'sec-ch-ua-platform': '"Windows"',
	    'upgrade-insecure-requests': '1',
	    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36',
	    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
	    'sec-fetch-site': 'none',
	    'sec-fetch-mode': 'navigate',
	    'sec-fetch-user': '?1',
	    'sec-fetch-dest': 'document',
	    'accept-language': 'en-GB,en;q=0.9',
	}
	response = requests.get('https://www.barchart.com/options/volatility-percent-change/increase', headers=headers)
	return response.cookies

def get_parent(url,params,ignore,col_names,pagination):
	cookies = load_cookies()
	headers = {
	    'authority': 'www.barchart.com',
	    'sec-ch-ua': '"Chromium";v="94", "Google Chrome";v="94", ";Not A Brand";v="99"',
	    'accept': 'application/json',
	    'x-xsrf-token': urllib.parse.unquote(cookies.get('XSRF-TOKEN')),
	    'sec-ch-ua-mobile': '?0',
	    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36',
	    'sec-ch-ua-platform': '"Windows"',
	    'sec-fetch-site': 'same-origin',
	    'sec-fetch-mode': 'cors',
	    'sec-fetch-dest': 'empty',
	    'referer': url,
	    'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8',
	    'cookie': ';'.join(["{0}={1}".format(each_cookie[0],urllib.parse.unquote(each_cookie[1])) for each_cookie in cookies.items()])
			}

	# parsing data into pandas
	final_data_list = []
	response = requests.get(url, headers=headers, params=params)
	total_pages = math.ceil(json.loads(response.content).get("total") / 100)
	
	for page in range(1,total_pages+1):
		new_params = []
		for each_param in params:
			if 'page' != each_param[0]:
				new_params.append(each_param)
			else:
				new_params.append(('page', str(page)))
		params = new_params
		response = requests.get(url, headers=headers, params=params)
		final_data_list.extend(json.loads(response.content).get("data"))
		if not pagination:
			break
	final_data_list = [{key:val for key,val in row.items() if key not in ignore} for row in final_data_list]
	data_frame = pd.DataFrame(final_data_list)
	data_frame.columns = col_names
	return data_frame

**1) Most Active Stock Options**
<br>obtain latest data from: [barchart.com](https://www.barchart.com/options/most-active/stocks?orderBy=optionsTotalVolume&orderDir=desc)

In [493]:
# Most Active Stock Options

params = [
  ('list', 'options.mostActive.us'),
  ('fields', 'symbol,symbolType,symbolName,hasOptions,lastPrice,priceChange,percentChange,optionsImpliedVolatilityRank1y,optionsTotalVolume,optionsPutVolumePercent,optionsCallVolumePercent,optionsPutCallVolumeRatio,tradeTime,symbolCode'),
  ('orderBy', 'optionsTotalVolume'),
  ('orderDir', 'desc'),
  ('between(lastPrice,.10,)', ''),
  ('between(tradeTime,{0})'.format(date_interval), ''),
  ('meta', 'field.shortName,field.type,field.description'),
  ('hasOptions', 'true'),
  ('page', '1'),
  ('limit', '100'),
  ('raw', '1')]

high_vol_stock_options = get_parent('https://www.barchart.com/proxies/core-api/v1/quotes/get',params,['symbolCode','raw','symbolType','hasOptions'],
		                    ["Symbol","Name","Last","Change","%Chg","IV Rank","Options Vol" ,"% Put","% Call","Put/Call Vol","Time"],True)

In [494]:
# Highest vol stock options clean up
high_vol_stock_options['Time'] = high_vol_stock_options['Time'].astype('datetime64')
to_num = ['Last','IV Rank', 'Options Vol', '% Put', '% Call', 'Put/Call Vol']
high_vol_stock_options[to_num] = high_vol_stock_options[to_num].replace(r'\D+', '', regex=True)
high_vol_stock_options[to_num] = high_vol_stock_options[to_num].astype('float')
high_vol_stock_options[['Last', 'IV Rank', 'Put/Call Vol']] = high_vol_stock_options[['Last', 'IV Rank', 'Put/Call Vol']]/100
high_vol_stock_options[['% Put', '% Call']] = high_vol_stock_options[['% Put', '% Call']]/10

In [495]:
high_vol_stock_options.head()

  Symbol                            Name  ...  Put/Call Vol       Time
0   TSLA                       Tesla Inc  ...          1.39 2021-10-01
1   AAPL                       Apple Inc  ...          0.47 2021-10-01
2    AMC  AMC Entertainment Holdings Inc  ...          0.33 2021-10-01
3    MRK                 Merck & Company  ...          0.26 2021-10-01
4   AMZN                  Amazon.com Inc  ...          0.72 2021-10-01

[5 rows x 11 columns]

**2) Most Active ETF Options**
<br>obtain latest data from: [barchart.com](https://www.barchart.com/options/most-active/etfs?orderBy=optionsTotalVolume&orderDir=desc)

In [496]:
# Most Active ETFs

params = [
  ('list', 'options.mostActive.etf'),
	('fields', 'symbol,symbolType,symbolName,hasOptions,lastPrice,priceChange,percentChange,optionsImpliedVolatilityRank1y,optionsTotalVolume,optionsPutVolumePercent,optionsCallVolumePercent,optionsPutCallVolumeRatio,tradeTime,symbolCode'),
	('orderBy', 'optionsTotalVolume'),
	('orderDir', 'desc'),
	('between(lastPrice,.10,)', ''),
	('between(tradeTime,{0})'.format(date_interval), ''),
	('meta', 'field.shortName,field.type,field.description'),
	('hasOptions', 'true'),
	('page', '1'),
	('limit', '100'),
	('raw', '1')]

high_vol_etf_options = get_parent('https://www.barchart.com/proxies/core-api/v1/quotes/get',params,['symbolCode','raw','symbolType','hasOptions'],
		                  ["Symbol","Name","Last","Change","%Chg","IV Rank","Options Vol" ,"% Put","% Call","Put/Call Vol","Time"],True)

In [497]:
# Highest vol etr options clean up
high_vol_etf_options['Time'] = high_vol_etf_options['Time'].astype('datetime64')
etf_to_num = ['Last','IV Rank', 'Options Vol', '% Put', '% Call', 'Put/Call Vol']
high_vol_etf_options[etf_to_num] = high_vol_etf_options[etf_to_num].replace(r'\D+', '', regex=True)
high_vol_etf_options[etf_to_num] = high_vol_etf_options[etf_to_num].astype('float')
high_vol_etf_options[['Last', 'IV Rank', 'Put/Call Vol']] = high_vol_etf_options[['Last', 'IV Rank', 'Put/Call Vol']]/100
high_vol_etf_options[['% Put', '% Call']] = high_vol_etf_options[['% Put', '% Call']]/10

In [498]:
high_vol_etf_options.head()

  Symbol                                      Name  ...  Put/Call Vol       Time
0    SPY                              S&P 500 SPDR  ...          1.21 2021-10-01
1    QQQ                    Nasdaq QQQ Invesco ETF  ...          1.33 2021-10-01
2    IWM                  Russell 2000 Ishares ETF  ...          2.71 2021-10-01
3    XLE                S&P 500 Energy Sector SPDR  ...          0.17 2021-10-01
4    HYG  High Yield Corp Bond Ishares Iboxx $ ETF  ...          6.17 2021-10-01

[5 rows x 11 columns]

**3) Highest Implied Volatility Options**
<br>obtain latest data from: [barchart.com](https://www.barchart.com/options/highest-implied-volatility)

In [499]:
# Highest implied volatility table

params = [
  ('fields', 'symbol,baseSymbol,baseLastPrice,baseSymbolType,symbolType,strikePrice,expirationDate,daysToExpiration,bidPrice,midpoint,askPrice,lastPrice,volume,openInterest,volumeOpenInterestRatio,volatility,tradeTime,symbolCode,hasOptions'),
  ('orderBy', 'volatility'),
  ('baseSymbolTypes', 'stock'),
  ('between(lastPrice,.10,)', ''),
  ('between(daysToExpiration,15,)', ''),
  ('between(tradeTime,{0})'.format(date_interval), ''),
  ('orderDir', 'desc'),
  ('between(volatility,60,)', ''),
  ('limit', '200'),
  ('between(volume,500,)', ''),
  ('between(openInterest,100,)', ''),
  ('in(exchange,(AMEX,NASDAQ,NYSE))', ''),
  ('meta', 'field.shortName,field.type,field.description'),
  ('hasOptions', 'true'),
  ('raw', '1')]
  
highest_volitility = get_parent('https://www.barchart.com/proxies/core-api/v1/options/get',params,['symbol','baseSymbolType','raw'],
		                ["Symbol","Price","Type","Strike","Exp Date","DTE","Bid","Midpoint","Ask","Last","Volume","Open Int","Vol/OI","IV","Last Trade"],False)

In [500]:
highest_volitility.head()

  Symbol   Price  Type  Strike  ... Open Int Vol/OI       IV Last Trade
0   NXTD  0.4020  Call  0.5000  ...    1,519   1.53  295.35%   10/01/21
1   PROG  1.7900  Call  2.0000  ...    1,965   3.77  262.77%   10/01/21
2   PROG  1.7900  Call  1.5000  ...    7,206   0.54  247.26%   10/01/21
3   XENE   15.60   Put    7.50  ...    2,181   1.39  240.68%   09/30/21
4   BBIG    6.14   Put   20.00  ...    5,634   0.38  237.66%   09/30/21

[5 rows x 15 columns]

In [501]:
# Highest IV data clean up
highest_volitility[['Exp Date', 'Last Trade']] = highest_volitility[['Exp Date', 'Last Trade']].astype('datetime64')
to_num = ['Price', 'Strike', 'DTE', 'Bid', 'Midpoint', 'Ask', 'Last',	'Volume',	'Open Int',	'IV', 'Vol/OI']
highest_volitility['Volume'] = highest_volitility['Volume'].str.replace(',', '')
highest_volitility['Open Int'] = highest_volitility['Open Int'].str.replace(',', '')
highest_volitility['IV'] = highest_volitility['IV'].str.replace('%', '')
highest_volitility[to_num] = highest_volitility[to_num].astype('float')

**3) Highest Implied Volatility Options Screener**
<br>Screening Criteria:
*   Implied Volatility > 100%
*   Day to expiry within 21 days
*   Stock price < USD 100 per share

In [502]:
# screen for highest IV, within 21 days out for put options
high_iv_screener = highest_volitility.query('IV> 100 & DTE<22 & Price< 100')
high_iv_screener

    Symbol  Price  Type  Strike  ... Open Int  Vol/OI      IV  Last Trade
9      AMC  38.46  Call    95.0  ...   4625.0    0.34  214.34  2021-10-01
12    DMYI  10.40  Call    20.0  ...   8807.0    0.18  206.20  2021-09-30
23    BBIG   6.14  Call     7.0  ...   1845.0    0.30  189.65  2021-10-01
39    DMYI  10.40  Call    15.0  ...   7534.0    0.11  167.36  2021-09-30
45    DMYI  10.40  Call    14.0  ...   3738.0    0.17  163.39  2021-09-30
52    DMYI  10.40  Call    12.5  ...   7527.0    0.60  153.06  2021-09-30
62     AMC  38.46  Call    60.0  ...   1340.0    0.51  149.97  2021-10-01
81    DMYI  10.40  Call    11.0  ...   2736.0    0.59  139.90  2021-09-30
86    DMYI  10.40  Call    10.0  ...   5948.0    0.33  137.28  2021-09-30
94    MNKD   4.52  Call     5.0  ...   3121.0    0.64  134.65  2021-10-01
108   RIDE   6.53  Call     9.0  ...   3811.0    0.46  130.69  2021-10-01
122    AMC  38.46  Call    50.0  ...   1236.0    0.43  125.97  2021-10-01
133   DMYI  10.40  Call     9.0  ...    255.0    8.42  120.12  2021-09-30

[13 rows x 15 columns]

In [503]:
# put tickers to a list
highest_iv_list = high_iv_screener['Symbol'].unique().tolist()

**4) High Volume Stock Options Screener**
<br>Screening Criteria:
*   Implied Volatility > 10%
*   Options Volume (transaction) > 20k
*   Stock price < USD 100 per share

In [504]:
# screen for highest IV, within 21 days out for put options
high_vol_options_screener = high_vol_stock_options.query('Last< 100 & `Options Vol`> 20000 & `IV Rank` >10')
high_vol_options_screener

    Symbol                  Name   Last  ... % Call Put/Call Vol       Time
3      MRK       Merck & Company  81.40  ...   79.1         0.26 2021-10-01
9     CSCO     Cisco Systems Inc  55.14  ...   92.9         0.08 2021-10-01
12     AAL  American Airlines Gp  21.65  ...   64.2         0.56 2021-10-01
16     CLF  Cleveland-Cliffs Inc  19.66  ...   68.7         0.46 2021-10-01
17     BAC  Bank of America Corp  43.08  ...   54.6         0.83 2021-10-01
..     ...                   ...    ...  ...    ...          ...        ...
162    MOS        Mosaic Company  37.80  ...   79.0         0.27 2021-10-01
164    CAN        Canaan Inc ADR   6.41  ...   96.8         0.03 2021-10-01
165     MS        Morgan Stanley  99.05  ...   66.5         0.50 2021-10-01
167    BOX               Box Inc  24.81  ...   95.4         0.05 2021-10-01
169    UAA          Under Armour  20.79  ...   88.8         0.13 2021-10-01

[83 rows x 11 columns]

In [505]:
# put tickers to a list
high_vol_stock_options_list = high_vol_options_screener['Symbol'].unique().tolist()

**5) High Volume ETF Options Screener**
<br>Screening Criteria:
*   Implied Volatility > 10%
*   Options Volume (transaction) > 20k
*   Stock price < USD 100 per share

In [506]:
# screen for highest IV, within 21 days out for put options
high_vol_etf_screener = high_vol_etf_options.query('Last< 100 & `Options Vol`> 20000 & `IV Rank` >10')
high_vol_etf_screener

   Symbol                                        Name  ...  Put/Call Vol       Time
3     XLE                  S&P 500 Energy Sector SPDR  ...          0.17 2021-10-01
4     HYG    High Yield Corp Bond Ishares Iboxx $ ETF  ...          6.17 2021-10-01
5     EWZ                     Brazil Ishares MSCI ETF  ...          4.08 2021-10-01
6     VXX  Ipath.B S&P 500 VIX Short-Term Futures ETN  ...          0.82 2021-10-01
7    UVXY      Trust Ultra VIX Short Term Futures ETF  ...          0.84 2021-10-01
10   JETS                          US Global Jets ETF  ...          0.12 2021-10-01
13    EEM           Emerging Markets Ishares MSCI ETF  ...          3.20 2021-10-01
14    XLF              S&P 500 Financials Sector SPDR  ...          1.01 2021-10-01
16    FXI                 China Large-Cap Ishares ETF  ...          0.69 2021-10-01
17    EFA                       EAFE Ishares MSCI ETF  ...          1.01 2021-10-01
20    GDX                      Vaneck Gold Miners ETF  ...          0.30 2021-10-01
22    XME                    S&P Metals & Mining SPDR  ...          0.01 2021-10-01
23    XLI              S&P 500 Industrial Sector SPDR  ...          6.79 2021-10-01
25    TNA                   Smallcap Bull 3X Direxion  ...          0.92 2021-10-01
26    EWJ                      Japan Ishares MSCI ETF  ...          0.23 2021-10-01
28    UNG                         US Natural Gas Fund  ...          0.53 2021-10-01
29    TBT      Ultrashort Lehman 20 Year Treasury ETF  ...          0.14 2021-10-01
32    USO                                 US Oil Fund  ...          0.31 2021-10-01
34   KWEB          KS Trust KS CSI China Internet ETF  ...          0.80 2021-10-01

[19 rows x 11 columns]

In [507]:
# put tickers to a list
high_vol_etf_options_list = high_vol_etf_screener['Symbol'].unique().tolist()

In [508]:
print(highest_iv_list) 
print(high_vol_stock_options_list)

['AMC', 'DMYI', 'BBIG', 'MNKD', 'RIDE']
['MRK', 'CSCO', 'AAL', 'CLF', 'BAC', 'F', 'DKNG', 'CCL', 'LCID', 'JD', 'PFE', 'XOM', 'INTC', 'SOFI', 'X', 'UBER', 'UAL', 'T', 'DAL', 'BBIG', 'SDC', 'LVS', 'RIDE', 'SNAP', 'OXY', 'ITUB', 'PINS', 'GM', 'WFC', 'FCX', 'C', 'PTON', 'DLTR', 'KSS', 'HUT', 'ET', 'PENN', 'ING', 'SPIR', 'LUV', 'MGM', 'LAUR', 'WYNN', 'VZ', 'ATER', 'CVS', 'TCOM', 'ATVI', 'BTBT', 'HPQ', 'BITF', 'CCJ', 'AA', 'HBI', 'COP', 'SAVA', 'MRO', 'PBR', 'OCGN', 'GOLD', 'AEZS', 'SPWR', 'DVN', 'RKLB', 'NUE', 'MAT', 'ORCL', 'KO', 'APRN', 'IGT', 'TWTR', 'AEO', 'MPC', 'WY', 'BP', 'GOGO', 'CMCSA', 'GILD', 'MOS', 'CAN', 'MS', 'BOX', 'UAA']

In [509]:
set(highest_iv_list).intersection(high_vol_stock_options_list)

{'BBIG', 'RIDE'}

**6) Yahoo Finance Technical Indicators**
<br>Screening Criteria:
*   10 SMA/ 50 SMA/ 250 SMA
*   Implied Volatility > 10%
*   Options Volume (transaction) > 20k
*   Stock price < USD 100 per share

**6.1) Stocks**

In [510]:
p_stocklist = high_vol_options_screener.copy().drop(['Change', '%Chg', 'Put/Call Vol', 'Time'], axis=1).reset_index()

In [512]:
SMA10 =[]
for ticker in high_vol_stock_options_list:
  SMA10.append(yahoo_fin.stock_info.get_data(ticker, interval='1d')['close'][-10:].mean())

In [513]:
SMA50 =[]
for ticker in high_vol_stock_options_list:
  SMA50.append(yahoo_fin.stock_info.get_data(ticker, interval='1d')['close'][-50:].mean())

In [ ]:
SMA250 =[]
for ticker in high_vol_stock_options_list: 
  SMA250.append(yahoo_fin.stock_info.get_data(ticker, interval='1d')['close'][-250:].mean())

In [515]:
SMA = pd.DataFrame(list(zip(SMA10, SMA50, SMA250))).round(2)

In [516]:
p_stocklist = p_stocklist.join(SMA)
p_stocklist.rename({0:'SMA10', 1:'SMA50', 2: 'SMA250'}, axis=1, inplace=True)

In [517]:
p_stocklist.head(3)

   index Symbol                  Name   Last  ...  % Call  SMA10  SMA50  SMA250
0      3    MRK       Merck & Company  81.40  ...    79.1  78.26  75.69   75.19
1      9   CSCO     Cisco Systems Inc  55.14  ...    92.9  55.69  56.86   49.35
2     12    AAL  American Airlines Gp  21.65  ...    64.2  20.90  20.19   19.07

[3 rows x 11 columns]

In [518]:
buylist = p_stocklist.query('SMA10 > SMA50 & SMA10 > SMA250')

In [521]:
print('Number of stocks for consideration:', buylist.shape[0])
buylist

Number of stocks for consideration: 30

    index Symbol                           Name  ...  SMA10  SMA50  SMA250
0       3    MRK                Merck & Company  ...  78.26  75.69   75.19
2      12    AAL           American Airlines Gp  ...  20.90  20.19   19.07
4      17    BAC           Bank of America Corp  ...  41.72  40.65   35.80
5      19      F             Ford Motor Company  ...  13.74  13.43   11.74
7      22    CCL                  Carnival Corp  ...  24.91  23.33   23.24
8      23   LCID                Lucid Group Inc  ...  25.34  22.70   20.47
11     27    XOM               Exxon Mobil Corp  ...  57.61  56.29   51.87
18     42    DAL            Delta Air Lines Inc  ...  42.74  40.62   42.09
19     44   BBIG             Vinco Ventures Inc  ...   6.49   5.36    2.85
23     48   SNAP                       Snap Inc  ...  76.43  74.84   57.02
24     52    OXY      Occidental Petroleum Corp  ...  28.46  26.18   22.93
34     83    HUT              Hut 8 Mining Corp  ...   8.37   7.35    4.36
37     87    ING             ING Groep N.V. ADR  ...  14.07  13.60   11.30
38     89   SPIR               Spire Global Inc  ...  13.53  10.63    0.65
40     94    MGM      MGM Resorts International  ...  43.60  40.98   35.38
41     96   LAUR         Laureate Education Inc  ...  17.37  16.08   14.36
45    108    CVS                       CVS Corp  ...  84.91  84.37   75.49
51    115    CCJ                    Cameco Corp  ...  21.11  19.31   15.58
52    117     AA                     Alcoa Corp  ...  49.09  44.34   29.35
54    119    COP                 Conocophillips  ...  64.78  57.75   49.42
56    123    MRO              Marathon Oil Corp  ...  12.96  11.93    9.70
62    131    DVN              Devon Energy Corp  ...  33.12  28.82   21.37
66    135   ORCL                    Oracle Corp  ...  89.05  88.93   71.81
68    145   APRN        Blue Apron Holdings Inc  ...   6.26   4.58    6.16
69    147    IGT  International Game Technology  ...  24.83  21.11   17.74
72    152    MPC        Marathon Petroleum Corp  ...  61.15  58.00   50.28
73    154     WY           Weyerhaeuser Company  ...  36.34  35.22   33.99
74    157     BP                     BP Plc ADR  ...  26.45  25.09   23.49
75    159   GOGO                       Gogo Inc  ...  14.30  12.68   11.29
78    162    MOS                 Mosaic Company  ...  35.20  32.49   28.68

[30 rows x 11 columns]

**6.2) ETF**

In [522]:
etf_list = high_vol_etf_screener.copy().drop(['Change', '%Chg', 'Put/Call Vol', 'Time'], axis=1).reset_index()

In [523]:
SMA_10 =[]
for ticker in high_vol_etf_options_list:
  SMA_10.append(yahoo_fin.stock_info.get_data(ticker, interval='1d')['close'][-10:].mean())

In [524]:
SMA_50 =[]
for ticker in high_vol_etf_options_list:
  SMA_50.append(yahoo_fin.stock_info.get_data(ticker, interval='1d')['close'][-50:].mean())

In [525]:
SMA_250 =[]
for ticker in high_vol_etf_options_list: 
  SMA_250.append(yahoo_fin.stock_info.get_data(ticker, interval='1d')['close'][-250:].mean())

In [526]:
etf_SMA = pd.DataFrame(list(zip(SMA_10, SMA_50, SMA_250))).round(2)

In [527]:
etf_list = etf_list.join(etf_SMA)
etf_list.rename({0:'SMA10', 1:'SMA50', 2: 'SMA250'}, axis=1, inplace=True)

In [529]:
etf_buylist = etf_list.query('SMA10 > SMA50 & SMA10 > SMA250')

In [530]:
print('Number of stocks for consideration:', etf_buylist.shape[0])
etf_buylist

Number of stocks for consideration: 6

    index Symbol  ...  SMA50  SMA250
0       3    XLE  ...  49.16   45.73
1       4    HYG  ...  87.68   86.94
5      10   JETS  ...  23.00   23.52
14     26    EWJ  ...  69.74   67.52
15     28    UNG  ...  15.77   11.69
17     32    USO  ...  48.89   40.94

[6 rows x 11 columns]