<a href="https://colab.research.google.com/github/jade-lam/Stock-Portfolio/blob/master/Scraping%20US%20Dividend%20Stock%20Info.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [213]:
#!pip install yfinance --upgrade

In [224]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import date
import seaborn as sns
import yfinance as yf

In [241]:
equity_tickers = ['ABR', 'ACRE', 'AGNC', 'ARCC', 'BST', 'EOS', 'EPD', 'HRZN', 'HTGC', 'IEP', 'LTC', 'MAIN', 'NLY', 'O', 
                  'OHI', 'ORCC', 'PDI', 'PFLT', 'PNNT', 'RC', 'RITM', 'STAG', 'STOR', 'TCPC', 'VZ', 'WPC']
etf_tickers = ['DIVO', 'JEPI', 'QYLD', 'RYLD', 'SCHD', 'XRMI', 'XYLD']

In [221]:
# equity dataframe
equity_keys = ['symbol', 'longName', 'sector', 'industry', 'lastDividendDate', 'lastDividendValue', 'dividendRate', 'fiveYearAvgDividendYield',  
      'previousClose', 'twoHundredDayAverage', 'fiftyDayAverage', 'fiftyTwoWeekHigh', 'fiftyTwoWeekLow','52WeekChange']
equity_key_values = []


for ticker in equity_tickers:
  ticker_object = yf.Ticker(ticker).info
  result = [ticker_object[key] for key in equity_keys if key in ticker_object]
  equity_key_values.append(result)

In [222]:
equity_df = pd.DataFrame(equity_key_values, columns=equity_keys).round(2)
equity_df.columns = ['Stock Code', 'Name', 'Sector', 'Industry', 'Last Dividend Date', 'Last Dividend (USD)', 'Forward Dividend (USD)', 
                     'Dividend Yield %', 'Previous Close (USD)', '200 day avg price (USD)', '50 day avg pricce (USD)', '52 Wk High (USD)', '52 Wk Low (USD)', '52 Wk Chg %']
equity_df['Last Dividend Date'] = pd.to_datetime(equity_df['Last Dividend Date'], unit='s', errors='coerce')
equity_df['52 Wk Chg %'] = equity_df['52 Wk Chg %']*100

In [289]:
today = date.today().strftime("%B %d, %Y")
print('Date Printed:', today)
equity_df.head()

Date Printed: October 29, 2022

,Stock Code,Name,Sector,Industry,Last Dividend Date,Last Dividend (USD),Forward Dividend (USD),Dividend Yield %,Previous Close (USD),200 day avg price (USD),50 day avg pricce (USD),52 Wk High (USD),52 Wk Low (USD),52 Wk Chg %
0,ABR,"Arbor Realty Trust, Inc.",Real Estate,REIT—Mortgage,2022-08-12,0.39,1.56,9.04,13.44,15.63,13.58,20.74,11.16,-33.0
1,ACRE,Ares Commercial Real Estate Corporation,Real Estate,REIT—Mortgage,2022-09-29,0.35,1.32,9.72,11.89,13.72,12.10,16.48,9.99,-23.0
2,AGNC,AGNC Investment Corp.,Real Estate,REIT—Mortgage,2022-10-28,0.12,1.44,11.52,7.77,11.95,9.99,16.26,7.30,-49.0
3,ARCC,Ares Capital Corporation,Financial Services,Asset Management,2022-09-14,0.46,1.92,9.16,19.58,19.86,18.67,23.00,16.53,-9.0
4,BST,BlackRock Science and Technology Trust,Financial Services,Asset Management,2022-10-13,0.25,3.00,5.30,30.42,37.32,32.05,56.10,27.45,-43.0

In [250]:
# etf dataframe
etf_keys = ['symbol', 'longName', 'quoteType', 'fundInceptionDate', 'yield', 'threeYearAverageReturn', 'fiveYearAverageReturn', 'navPrice', 'previousClose',  
      'twoHundredDayAverage', 'fiftyDayAverage', 'fiftyTwoWeekHigh', 'fiftyTwoWeekLow']
etf_key_values = []

for etf_ticker in etf_tickers:
  etf_ticker_object = yf.Ticker(etf_ticker).info
  result = [etf_ticker_object[key] for key in etf_keys if key in etf_ticker_object]
  etf_key_values.append(result)

In [273]:
etf_df = pd.DataFrame(etf_key_values, columns=etf_keys)
etf_df.columns = ['Stock Code', 'Name', 'Type', 'Fund Inception Date', 'Dividend Yield %', '3 Years Avg Return', '5 Years Avg Return', 'NAV Price (USD)', 'Previous Close (USD)', '200 day avg price (USD)', '50 day avg pricce (USD)', '52 Wk High (USD)', '52 Wk Low (USD)']
etf_df['Fund Inception Date'] = pd.to_datetime(etf_df['Fund Inception Date'], unit='s', errors='coerce')
etf_df[['Dividend Yield %', '3 Years Avg Return', '5 Years Avg Return']] = etf_df[['Dividend Yield %', '3 Years Avg Return', '5 Years Avg Return']]*100

In [274]:
today = date.today().strftime("%B %d, %Y")
print('Date Printed:', today)
etf_df.round(2)

Date Printed: October 29, 2022

,Stock Code,Name,Type,Fund Inception Date,Dividend Yield %,3 Years Avg Return,5 Years Avg Return,NAV Price (USD),Previous Close (USD),200 day avg price (USD),50 day avg pricce (USD),52 Wk High (USD),52 Wk Low (USD)
0,DIVO,Amplify CWP Enhanced Dividend Income ETF,ETF,2016-12-13,5.40,11.15,11.11,34.92,34.86,35.41,34.04,38.60,31.98
1,JEPI,JPMorgan Equity Premium Income ETF,ETF,2020-05-20,11.04,NaN,NaN,53.61,53.82,57.24,53.81,63.67,49.92
2,QYLD,Global X NASDAQ 100 Covered Call ETF,ETF,2013-12-11,13.14,0.26,3.65,16.07,15.96,18.57,16.48,23.09,15.00
3,RYLD,Global X Russell 2000 Covered Call ETF,ETF,2019-04-18,13.12,3.24,NaN,19.41,19.45,21.45,19.49,25.82,18.24
4,SCHD,Schwab U.S. Dividend Equity ETF,ETF,2011-10-20,3.73,12.86,11.88,72.38,72.52,75.04,71.01,82.48,65.96
5,XRMI,Global X S&P 500 Risk Managed Income ETF,ETF,2021-08-25,11.88,NaN,NaN,20.99,20.98,23.50,21.50,27.05,20.70
6,XYLD,Global X S&P 500 Covered Call ETF,ETF,2013-06-21,13.48,2.58,4.18,39.78,39.81,44.77,40.30,51.16,37.28

In [287]:
from pandas import ExcelWriter

with pd.ExcelWriter('Dividend Yield List.xlsx') as writer:
  equity_df.to_excel(writer, sheet_name='equity list', index=False)
  etf_df.to_excel(writer, sheet_name='etf list', index=False)